.DS_Store
.gradle/2.2.1/taskArtifacts/cache.properties
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/appcompat_v7_21_0_3.xml
.idea/libraries/gson_2_3.xml
.idea/libraries/play_services_6_5_87.xml
.idea/libraries/support_annotations_21_0_3.xml
.idea/libraries/support_v4_21_0_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
gradlew
gradlew.bat
cpstlnd.iml